@tailwind base;
@tailwind components;
@tailwind utilities;

.SingleDatePickerInput {
  border: 2px solid rgb(107 114 128 / 0.75) !important;
}
.DateInput_input {
  font-size: 16px !important;
  padding: 7px 7px 5px !important;
  font-weight: bold !important;
}
.CalendarDay__selected {
  background: #333 !important;
  border: 1px double #333 !important;
}

.mantine-ColorPicker-wrapper {
  width: 100%;
}
